/* All */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background:
      repeating-conic-gradient(#ffffff 0 45deg,#d2791a 0 90deg)
      0 0/100px 100px;
}

body{
    background: linear-gradient(45deg,transparent 34%, #b87848 35%, #b87848 40%, transparent 41%, transparent 59%, #b87848  60%, #b87848 65%, transparent 66%),linear-gradient(135deg,transparent 34%, #b87848 35%, #b87848 40%, transparent 41%, transparent 59%, #b87848  60%, #b87848 65%, transparent 66%);
    background-size: 1em 1em;
    background-color: #ffffff;
    opacity: 1
}

.comingsoon{
    background-color: #ffffff;
    font-family: "poppins", sans-serif;
    font-size: 10vw;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 2px solid black;
    box-shadow: 3px 3px;
    

}

  
/* Header bar */
.navbar{
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid;
    background: #ffffff;
}

/* Alperen Yayla writing */
.navbar-brand{
    font-size: 2rem;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-style:normal;
    border-bottom: 0px solid;
}


.bi{
    font-size: 2rem;
    color: #000000;
}

/* Navigation */
.navbar-nav{
    font-size: 1.2rem;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-bottom: 0px solid;
}

/* Navigation links */
.nav-link{
    color: #000000;
}

/* Navigation links shadow */
.nav-link:hover {

    border: 2px solid black;
    border-radius: 0px;
    box-shadow: 2px 2px;

}

body{
    background-color:rgba(255, 255, 255, 0);
}

.card{
    background-color:transparent;
    border: 0px solid;
    border-radius: 0px;
}

.card-title{
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.card-text{
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.card:hover{
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 0px;
    box-shadow: 3px 3px;
}

.card-img-top{
    border: 0px solid;
    border: 0px solid;
    border-radius: 0px;
}

.battersea-soul{
    background-color:transparent;
    
    border: 2px solid black;
    border-radius: 0px;
}

.battersea-soul-2{
    background-color: transparent;
    border: 1px;
    border-radius: 0px;
}

.image{
    border: 0px solid black;
}

.battersea-soul-3{
    background-color: rgba(225, 173, 173, 0.601);
    border: 1px;
    border-radius: 0px;
}

.battersea-soul-4{
    background-color: rgba(221, 170, 122, 0.485);
    border: 1px;
    border-radius: 0px;
}

body{
    height: 100%;
}

.jazz{
    color: rgb(0, 0, 0);
}

@media screen and (min-width: 768px) {
    .jazz {
        color: rgb(0, 0, 0);
    }
  }

.background-jazz{
    background-color: rgb(255, 255, 255);
}


@media screen and (min-width: 768px) {
    .jazz-img {
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 0px 0px rgb(0, 0, 0);
      }
}


.jazz-wr{
    font-style: normal;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 3px;
  }

@media screen and (min-width: 768px) {
  .jazz-wr{
    font-style: normal;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 3px rgb(0, 0, 0);
  }
}

.m-headline{
    font-family: "poppins", sans-serif;
    font-weight: 700;
}

.m-info{
    font-family: "poppins", sans-serif;
    font-weight: 500;
}

.m-text{
    font-family: "poppins", sans-serif;
    font-weight: 300;
}

.brickbeanies-img{
}


 